<nav class="main-navigation">
  <ul class="horizontal-menu">
    <li><a href="{{ root_path }}index.html" class="nav-link">Home</a></li>
    <li class="dropdown">
      <span class="nav-link dropdown-button">Categories <i class="fas fa-chevron-down"></i></span>
      <ul class="dropdown-content">
        <li><a href="{{ root_path }}attention-focus/index.html">Attention &amp; Focus</a></li>
        <li><a href="{{ root_path }}mindful-technology-use/index.html">Mindful Technology Use</a></li>
        <li><a href="{{ root_path }}privacy-digital-independence/index.html">Privacy &amp; Digital Independence</a></li>
        <li><a href="{{ root_path }}healthy-digital-culture/index.html">Healthy Digital Culture</a></li>
        <li><a href="{{ root_path }}analog-offline-life/index.html">Analog &amp; Offline Life</a></li>
        <li><a href="{{ root_path }}ai-emerging-technologies/index.html">AI &amp; Emerging Technologies</a></li>
        <li><a href="{{ root_path }}preservation-legacy/index.html">Preservation &amp; Legacy</a></li>
        <li><a href="{{ root_path }}personal-reflections-experiments/index.html">Personal Reflections &amp; Experiments</a></li>
      </ul>
    </li>
    <li><a href="{{ root_path }}start-here/index.html" class="nav-link">Start Here</a></li>
    <li><a href="{{ root_path }}resources/index.html" class="nav-link">Resources</a></li>
    <li><a href="{{ root_path }}about/index.html" class="nav-link">About</a></li>
    <li><a href="{{ root_path }}newsletter/index.html" class="nav-link">Subscribe</a></li>
  </ul>
  <button class="mobile-toggle"><i class="fas fa-bars"></i></button>
</nav>